@use 'config' as config;
@use 'utilities' as utilities;
@use 'btnConfig' as btnConfig;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: config.$light-color;
  font-family: config.$font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

.hero {
  background-color: config.$primary-color;
  color: white;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .banner {
      margin-right: 1rem;
    }

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        margin-right: 1rem;
        text-decoration: none; 
      }
    }
  }
}

.hero-content {
  display: flex;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 4rem; 
  }

  img {
    width: 500px; 
    height: auto; 
    margin-right: 1rem; 
  }

}

